parameters:
    level: 9
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: trait.unused
            reportUnmatched: false
        # Skeleton rules: constructor-injected properties will be read once
        # processNode() logic is implemented in Plans 02 and 03.
        -
            identifier: property.onlyWritten
            message: '#^Property Tenancy\\Bundle\\PHPStan\\Rule\\(TenantIdDriftRule|SharedEntityLeakRule)#'
            reportUnmatched: false
    parallel:
        maximumNumberOfProcesses: 1
